.homecontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgb(248, 248, 248);
  height: 100vh;
  width: 100%;
}

.homewrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeModal,
.addTaskModal,
.typeModal {
  box-shadow: 0 0 40px 0px rgba(235, 242, 252, 0.703);
  background: white;
  margin: 0 16px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 40px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #fff;
  width: 400px;
  overflow: hidden;
  border-radius: 50px;
  position: relative;
  height: 700px;
  z-index: 100px;
  overflow: auto;
}

.head {
  display: flex;
  align-items: center;
  
}

.head h1 {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  flex-grow: 1;
  font-size: 25px;
  letter-spacing: 0;
  text-align: left;
}

.add-btn {
  font-size: 20px;
  color: white;
  font-weight: lighter;
  background: #f00;
  border: none;
  outline: none;
  border: 1px solid red;
  border-radius: 4px;
  width: 33px;
  height: 32px;
}

.taskCounter {
  font-size: 13px;
  font-weight: bold;
  color: rgb(179, 179, 179);
}
.dspacer {
  flex-basis: 40px;
}

.dinfoBox {
  margin-top: 30px;
  margin-bottom: 13px;
  display: flex;
}

.dboxtasks {
  display: flex;
  flex-direction: column;
}

.alltasks {
  margin-right: 12%;
}

.dboxline {
  margin-left: 22px;
  border: 0.5px solid rgb(245, 245, 245, 0.5);
}

.taskTypeName {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bolder;
}

.counter {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: bolder;
}

.counterText {
  font-size: 13px;
  font-weight: bolder;
  color: rgb(179, 179, 179);
}

.dboxtasktypes,
.dboxAddForm {
  margin-top: 26px;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.dboxAddForm {
  flex-direction: column;
}
.dboxtasktype {
  box-shadow: 3px 4px 6px rgba(235, 249, 255, 0.788);
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding: 5px;
  flex-basis: 100px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.addInput {
  font-size: 22px;
  border: none;
  outline: none;
}

.labels {
  font-size: 13px;
  font-weight: bolder;
  color: rgb(179, 179, 179);
  margin-top: 50px;
  margin-bottom: 10px;
}

.dboxdate,
.dboxtype,
.desc {
  display: flex;
  flex-direction: column;
}

#firstlabel{
    margin-top: 10px;
}

.datetime{
    font-size: 12px;
    color: rgb(59, 59, 59);
    font-weight: bolder;
}
.taskType{
    display: flex;
    flex-wrap: wrap;
}
.tasktypeopt{
    
    padding: 8px;
    color: white;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 11px;
    
    
    
}

.taskType :nth-child(1) {
    background: royalblue;
    flex-basis: 60px;
    color: rgb(180, 206, 255);
}
.taskType :nth-child(2) {
    background: rgb(106, 180, 180);
    flex-basis: 80px;
    color: rgb(236, 255, 255);
}
.taskType :nth-child(3) {
    background: rgb(172, 25, 172);
    flex-basis: 80px;
    color: rgb(255, 225, 255);;
}
.taskType :nth-child(4) {
    background: #f00;
    flex-basis: 70px;
    color: rgb(253, 193, 193);
}
.taskType :nth-child(5) {
    background: rgb(56, 29, 131);
    flex-basis: 60px;
    color: rgb(218, 207, 250);
}

.taskSubmitbtn{
    display: flex;
    margin-top: auto;
}

.taskSubmitbtn button{
    border: none;
    outline: none;
    cursor: pointer;
    flex-basis: 80px;
    padding: 9px;
    border-radius: 5px;
    color: white;
    background: rgb(6, 123, 233);
}

.taskDesc{
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    height: 130px;
    resize: none;
    margin-bottom: 80px;
}

.borderline{
    border: 0.5px solid rgb(242, 242, 242);
    margin-bottom: 40px;
}

.dboxdate h3{
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
}

.dboxviewdata{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-left: 22px;
}

.dviewtask{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgb(220, 239, 255);
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  padding-left: 20px;
  justify-items: center;
  margin-bottom: 10px;
}

.dviewtask :nth-child(1) {
  font-size: 13px;
  font-weight: bolder;
}

.dviewtask :nth-child(2) {
  font-size: 11px;
  color: rgb(161, 161, 161);
  font-weight: bolder;
}

.deletelogo{
  width: 30px;
  height: 25px;
  display: flex;
  margin-left: auto;
  position: relative;
  bottom: 30px;
}

.dspOff{
  display: none;
}

.dboxback img{
  width: 40px;
  height: 40px;

  
}

.dboxback{
  display: flex;
  align-self: flex-start;
  padding-left: 20px;
  margin-bottom: 20px;
}

.addhead{
  flex-direction: column;
}